*{box-sizing:border-box}
h1{font-size:32px;margin-top:50px}
p{font-size:24px;margin:0 auto;max-width:800px}
nav{display:flex;height:80px;width:100%;background:#1037e4;padding:0 200px}
nav .logo{color:#fff;font-size:35px;font-weight:600}
nav ul{display:flex;list-style:none}
nav ul li{margin:0 5px}
nav ul li a{color:#f2f2f2;text-decoration:none;font-size:18px;font-weight:500;padding:8px 15px;border-radius:5px;letter-spacing:1px;transition:all .3s ease}
nav ul li a.active,nav ul li a:hover{color:#111;background:#fff}
nav .menu-btn i{color:#fff;font-size:22px;cursor:pointer;display:none}
input[type="checkbox"]{display:none}
@media (max-width: 1000px) {
nav{padding:0 40px 0 50px}
}
@media (max-width: 920px) {
nav .menu-btn i{display:block}
#click:checked ~ .menu-btn i:before{content:"\f00d"}
nav ul{position:fixed;top:80px;left:-100%;background:#111;height:100vh;width:100%;text-align:center;display:block;transition:all .3s ease}
#click:checked ~ ul{left:0}
nav ul li{width:100%;margin:40px 0}
nav ul li a{width:100%;margin-left:-100%;display:block;font-size:20px;transition:.6s cubic-bezier(0.68,-0.55,0.265,1.55)}
#click:checked ~ ul li a{margin-left:0}
nav ul li a.active,nav ul li a:hover{background:none;color:#ff5900}
}
header{display:flex;margin-bottom:40px}
.profile-picture img{width:200px;height:200px;border-radius:50%;transition:all .3s ease-in-out;margin:0 5px}
.profile-info{max-width:150px}
h1{font-size:2.5em;margin:0}
section{margin-bottom:40px}
section h2{font-size:2em;margin-bottom:20px}
ul{list-style:none;margin:0;padding:0}
footer{text-align:center;margin-top:40px}
footer a{display:inline-block;padding:10px 20px}
.bandeau-defilant{background-color:#ff0;height:50px;padding:10px}
marquee{font-size:24px;font-weight:700;color:red}
.social-icons{display:flex;list-style:none;margin:0;padding:0;size:10px}
.social-icons li{margin:0 10px}
#experience{display:flex;text-align:justify}
#experience h2{margin-bottom:20px}
#experience ul{list-style:none;padding:0;margin:0}
#experience li{margin-bottom:20px}
#experience p{margin:0}
#languages{display:flex}
#languages h2{margin-bottom:20px}
#languages ul{text-align:left;font-size:13px;list-style:none;padding:0;margin:0}
#languages li{margin-bottom:20px}
#languages p{margin:0}
#skills{display:flex;text-align:left}
#skills h2{margin-bottom:20px}
#skills ul{list-style:none;padding:0;margin:0}
#skills li{margin-bottom:20px}
#skills p{margin:0}
#education{display:flex;text-align:left}
#education h2{margin-bottom:20px}
#education ul{list-style:none;padding:0;margin:0}
#education li{margin-bottom:20px}
#education p{margin:0}
#interests{display:flex;text-align:left}
#interests h2{margin-bottom:20px}
#interests ul{list-style:none;padding:0;margin:0}
#interests li{margin-bottom:20px}
#interests p{margin:0}
body{font-family:Arial,sans-serif;font-size:15px;line-height:1.5;background-color:#deb887;color:#000}
.copyright p{font-size:20px;text-align:center}
header{color:#000;display:flex;padding:20px}
h1{margin:0}
main{padding:20px}
h2{font-size:24px;margin-top:0}
footer{background-color:#333;color:#fff;padding:10px;text-align:center}
@media (max-width: 600px) {
body{font-size:15px;line-height:1.5;color:#000;text-align:left}
#languages{display:flex;text-align:left}
#experience{display:flex;text-align:left}
}
@media (min-width: 1025px) {
nav{margin-left:auto}
}
@keyframes blink {
50%{opacity:0}
}
.blinking-icon{animation:blink 1s infinite}
.social-media{display:flex}
.social-media a{display:block;margin:0 10px;width:50px;height:50px;border-radius:50%;background-color:#fff;box-shadow:0 0 5px rgba(0,0,0,0.3);transition:all .3s ease-in-out}
.social-media a:hover{transform:scale(1.1)}
.social-media img{width:100%;height:100%;border-radius:50%}